<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <title>Add Retailer</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <link crossorigin="anonymous"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"
          integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw=="
          referrerpolicy="no-referrer" rel="stylesheet"/>
    <link crossorigin="anonymous"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.standalone.min.css"
          integrity="sha512-TQQ3J4WkE/rwojNFo6OJdyu6G8Xe9z8rMrlF9y7xpFbQfW5g8aSWcygCQ4vqRiJqFsDsE1T6MoAOMJkFXlrI9A=="
          referrerpolicy="no-referrer" rel="stylesheet"/>


    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" rel="stylesheet">
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" rel="stylesheet">
    <style>
        * {
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>

<!-- Navigation -->

<div class="imgbox">
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">System</a>
        <button aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler"
                data-target="#navbarResponsive"
                data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/index">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/retailers">Retailers</a>
                </li>

                <a class="nav-link" href="/suppliers">Suppliers</a>
                </li>
                <li>
                    <a class="nav-link" href="/orders">Orders</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/inventories">Inventory</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/skus">SkuInventory</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/orderItems">Order Items</a>

                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container my-5">
    <h3>Add Retailer</h3>
    <div class="card">
        <div class="card-body">
            <div class="col-md-10">
                <form action="#" method="post" th:action="@{/retailers/add}" th:object="${retailer}">
                    <div class="row">
                        <div class="form-group col-md-8">
                            <p class="col-form-label"><b>Manager Details</b></p>
                            <label class="col-form-label" for="name">Name</label>
                            <input class="form-control" id="name"
                                   placeholder="Name" th:field="*{name}"
                                   type="text">
                            <span
                                    class="text-danger" th:errors="*{name}"
                                    th:if="${#fields.hasErrors('name')}">
                            </span>
                        </div>

                        <div class="form-group col-md-8">
                            <label class="col-form-label" for="name">Email</label>
                            <input class="form-control" id="email"
                                   placeholder="Email" th:field="*{email}"
                                   type="text">
                            <span
                                    class="text-danger" th:errors="*{email}"
                                    th:if="${#fields.hasErrors('email')}">

                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col">
                            <p class="col-form-label"><b>Address</b></p>

                            <label class="col-form-label" for="address_country">Country</label>

                            <input class="form-control" id="address_country"
                                   placeholder="Country" th:field="*{address.country}"
                                   type="text">
                            <span
                                    class="text-danger" th:errors="*{address.country}"
                                    th:if="${#fields.hasErrors('address.country')}">
                            </span>

                            <label class="col-form-label" for="address_street1">Street 1</label>

                            <input class="form-control" id="address_street1"
                                   placeholder="Street 1" th:field="*{address.street1}"
                                   type="text">
                            <span
                                    class="text-danger" th:errors="*{address.street1}"
                                    th:if="${#fields.hasErrors('address.street1')}">
                            </span>

                            <label class="col-form-label" for="address_street2">Street 2</label>

                            <input class="form-control" id="address_street2"
                                   placeholder="Street 2" th:field="*{address.street2}"
                                   type="text">
                            <span
                                    class="text-danger" th:errors="*{address.street2}"
                                    th:if="${#fields.hasErrors('address.street2')}">
                            </span>

                            <label class="col-form-label" for="address_city">City</label>

                            <input class="form-control" id="address_city"
                                   placeholder="City" th:field="*{address.city}"
                                   type="text">
                            <span
                                    class="text-danger" th:errors="*{address.city}"
                                    th:if="${#fields.hasErrors('address.city')}">
                            </span>

                            <label class="col-form-label" for="address_district">District</label>

                            <input class="form-control" id="address_district"
                                   placeholder="District" th:field="*{address.district}"
                                   type="text">
                            <span
                                    class="text-danger" th:errors="*{address.district}"
                                    th:if="${#fields.hasErrors('address.district')}">
                            </span>

                            <label class="col-form-label" for="address_zip">Zip</label>

                            <input class="form-control" id="address_zip"
                                   placeholder="Zip" th:field="*{address.zip}"
                                   type="number">
                            <span
                                    class="text-danger" th:errors="*{address.zip}"
                                    th:if="${#fields.hasErrors('address.zip')}">
                            </span>

                        </div>


                        <div class="form-group col">
                            <p class="col-form-label"><b>Shipping Address</b></p>

                            <label class="col-form-label" for="shippingAddress_street1">Street 1</label>

                            <input class="form-control" id="shippingAddress_street1"
                                   placeholder="Street 1" th:field="*{shippingAddress.street1}"
                                   type="text">
                            <span
                                    class="text-danger" th:errors="*{shippingAddress.street1}"
                                    th:if="${#fields.hasErrors('shippingAddress.street1')}">
                            </span>

                            <label class="col-form-label" for="shippingAddress_street2">Street 2</label>

                            <input class="form-control" id="shippingAddress_street2"
                                   placeholder="Street 2" th:field="*{shippingAddress.street2}"
                                   type="text">
                            <span
                                    class="text-danger" th:errors="*{shippingAddress.street2}"
                                    th:if="${#fields.hasErrors('shippingAddress.street2')}">
                            </span>

                            <label class="col-form-label" for="shippingAddress_city">City</label>

                            <input class="form-control" id="shippingAddress_city"
                                   placeholder="City" th:field="*{shippingAddress.city}"
                                   type="text">
                            <span
                                    class="text-danger" th:errors="*{shippingAddress.city}"
                                    th:if="${#fields.hasErrors('shippingAddress.city')}">
                            </span>

                            <label class="col-form-label" for="shippingAddress_district">District</label>

                            <input class="form-control" id="shippingAddress_district"
                                   placeholder="District" th:field="*{shippingAddress.district}"
                                   type="text">
                            <span
                                    class="text-danger" th:errors="*{shippingAddress.district}"
                                    th:if="${#fields.hasErrors('shippingAddress.district')}">
                            </span>

                            <label class="col-form-label" for="shippingAddress_zip">Zip</label>

                            <input class="form-control" id="shippingAddress_zip"
                                   placeholder="Zip" th:field="*{shippingAddress.zip}"
                                   type="number">
                            <span
                                    class="text-danger" th:errors="*{shippingAddress.zip}"
                                    th:if="${#fields.hasErrors('shippingAddress.zip')}">
                            </span>
                            <br>

                            <div class="col">
                                <input class="btn btn-primary" type="submit" value="Add Retailer">
                            </div>
                        </div>
                    </div>
            </form>
        </div>
    </div>
</div>
</div>
</body>

</html>