
<div class="form-group col-md-8">
    <p class="col-form-label"><b>Address</b></p>

    <label class="col-form-label" for="shippingAddress_country">Country</label>

    <input class="form-control" id="shippingAddress_country"
           placeholder="Country" th:field="*{shippingAddress.country}"
           type="text">
    <span
            class="text-danger" th:errors="*{shippingAddress.country}"
            th:if="${#fields.hasErrors('shippingAddress.country')}">
                            </span>

    <label class="col-form-label" for="shippingAddress_street1">Street 1</label>

    <input class="form-control" id="shippingAddress_street1"
           placeholder="Street 1" th:field="*{shippingAddress.street1}"
           type="text">
    <span
            class="text-danger" th:errors="*{shippingAddress.street1}"
            th:if="${#fields.hasErrors('shippingAddress.street1')}">
                            </span>

    <label class="col-form-label" for="shippingAddress_street2">Street 2</label>

    <input class="form-control" id="shippingAddress_street2"
           placeholder="Street 2" th:field="*{shippingAddress.street2}"
           type="text">
    <span
            class="text-danger" th:errors="*{shippingAddress.street2}"
            th:if="${#fields.hasErrors('shippingAddress.street2')}">
                            </span>

    <label class="col-form-label" for="shippingAddress_city">City</label>

    <input class="form-control" id="shippingAddress_city"
           placeholder="City" th:field="*{shippingAddress.city}"
           type="text">
    <span
            class="text-danger" th:errors="*{shippingAddress.city}"
            th:if="${#fields.hasErrors('shippingAddress.city')}">
                            </span>

    <label class="col-form-label" for="shippingAddress_district">District</label>

    <input class="form-control" id="shippingAddress_district"
           placeholder="District" th:field="*{shippingAddress.district}"
           type="text">
    <span
            class="text-danger" th:errors="*{shippingAddress.district}"
            th:if="${#fields.hasErrors('shippingAddress.district')}">
                            </span>

    <label class="col-form-label" for="shippingAddress_zip">Zip</label>

    <input class="form-control" id="shippingAddress_zip"
           placeholder="Zip" th:field="*{shippingAddress.zip}"
           type="text">
    <span
            class="text-danger" th:errors="*{shippingAddress.zip}"
            th:if="${#fields.hasErrors('shippingAddress.zip')}">
                            </span>

</div>
