<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <title>Add Retailer</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <link crossorigin="anonymous"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"
          integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw=="
          referrerpolicy="no-referrer" rel="stylesheet"/>
    <link crossorigin="anonymous"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.standalone.min.css"
          integrity="sha512-TQQ3J4WkE/rwojNFo6OJdyu6G8Xe9z8rMrlF9y7xpFbQfW5g8aSWcygCQ4vqRiJqFsDsE1T6MoAOMJkFXlrI9A=="
          referrerpolicy="no-referrer" rel="stylesheet"/>


    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" rel="stylesheet">
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" rel="stylesheet">
    <style>
        * {
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>

<!-- Navigation -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">System</a>
        <button aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler"
                data-target="#navbarResponsive"
                data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="/index">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/others">Others</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/trains">Retailers</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container my-2">
    <div class="card">
        <div class="card-body">
            <div class="container my-5 " th:object="${retailer}">

                <h1 th:text="${retailer.get().name}"></h1>
                
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Retailer</th>
                        <th scope="col">Email</th>
                        <th scope="col">Country</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td th:text="${retailer.get().name}"></td>
                        <td th:text="${retailer.get().email}"></td>
                        <td th:text="${retailer.get().address.country}"></td>

                    </tr>
                    </tbody>
                </table>

                <table class="table">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">Attribute</th>
                        <th scope="col">Address</th>
                        <th scope="col">Shipping Address</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">Street 1</th>
                        <td th:text="${retailer.get().address.street1}"></td>
                        <td th:text="${retailer.get().shippingAddress.street1}"></td>

                    </tr>
                    <tr>
                        <th scope="row">Street 2</th>
                        <td th:text="${retailer.get().address.street2}"></td>
                        <td th:text="${retailer.get().shippingAddress.street2}"></td>


                    </tr>
                    <tr>
                        <th scope="row">City</th>
                        <td th:text="${retailer.get().address.city}"></td>
                        <td th:text="${retailer.get().shippingAddress.city}"></td>

                    </tr>
                    <tr>
                        <th scope="row">District</th>
                        <td th:text="${retailer.get().address.district}"></td>
                        <td th:text="${retailer.get().shippingAddress.district}"></td>
                    </tr>
                    <tr>
                        <th scope="row">Zip</th>
                        <td th:text="${retailer.get().address.zip}"></td>
                        <td th:text="${retailer.get().shippingAddress.zip}"></td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>