<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>System</title>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" rel="stylesheet">
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" rel="stylesheet">
    <link th:href="@{assets/bootstrap-datepicker/css/bootstrap-datepicker.css}" th:rel="stylesheet"/>
    <link th:href="@{assets/bootstrap-datepicker/css/bootstrap-datepicker.standalone.css}" th:rel="stylesheet"/>
    <link th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} " th:rel="stylesheet"/>
    <link th:href="@{webjars/font-awesome/5.11.2/css/all.css} " th:rel="stylesheet"/>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        .imgbox {
            display: grid;
            height: 100%;
        }

        .main-img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        .center-fit {
            max-width: 100%;
            max-height: 100vh;
            margin: auto;
        }

        .gs {
            position: absolute;
            left: 51%;
            top: 61%;
        }
    </style>
</head>
<body>

<!-- Navigation -->

<div class="imgbox">
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">System</a>
        <button aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler"
                data-target="#navbarResponsive"
                data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/index">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/retailers">Retailers</a>
                </li>

                    <a class="nav-link" href="/suppliers">Suppliers</a>
                </li>
                <li>
                    <a class="nav-link" href="/orders">Orders</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/inventories">Inventory</a>
              </li>

		        <li class="nav-item">
                    <a class="nav-link" href="/skus">SkuInventory</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/orderItems">Order Items</a>

                </li>
            </ul>
        </div>
    </div>
</nav>


</body>
</html>